*{
    margin: 0;padding: 0}
    html{cursor: url(cur.png), auto;
    }
body{max-width: 1000px;height: 100vh;background-image: url(bkg.jpg);background-size: cover;background-repeat: repeat;margin: 0 auto;}
.contain{display: flex; max-width: 1000px;height: 200px;flex-direction: row;justify-content: space-between;}
#patra{width:130px;height: 180px;border-radius: 0px 90px 90px 0px;background: url(btn2.gif);outline: none;text-align: center;
border: none;font-size: 20px;font-weight: bold;color:white}
#patri{width:130px;height: 180px;border-radius: 90px 0px 0px 90px;background: url(btn1.gif);
    outline: none;text-align: center;align-items: bottom;border: none;font-size: 20px;font-weight: bold;color:white}

    .tainer{width: 300px;height: 430px;display: inline-block;overflow: hidden;}
    .upper{height:150px;border-radius: 8px 8px 0px 0px;background-color: #1A4AFE;outline: none; }
    .img-upper{background: url(nambg.gif);width: 80px;height: 80px;border-radius: 50%;padding: 5px;transform: translate(100px,100px)
    }
    .img-upper img{width: 80px;height: 80px;border-radius: 50%;}
    .lower{height:280px;border-radius: 0px 0px 8px 8px;background-color: white;outline: none;padding: 20px;padding-top: 40px;
    text-align: center;}
    .lower h3{box-sizing: border-box;line-height: .6;font-weight: bold;margin-top: 15px;color: #1A4AFE}
    .lower p{font-size: 16px;color: gray;margin-top: 20px;}

    .tainer1{width: 300px;height: 430px;display: inline-block;overflow: hidden;}
    .upper1{height:150px;border-radius: 8px 8px 0px 0px;background-color: #FF2264;outline: none; }
    .img-upper1{background: url(nambg.gif);width: 80px;height: 80px;border-radius: 50%;padding: 5px;transform: translate(100px,100px)
    }
    .img-upper1 img{width: 80px;height: 80px;border-radius: 50%;}
    .lower1{height:280px;border-radius: 0px 0px 8px 8px;background-color: white;outline: none;padding: 20px;padding-top: 40px;
    text-align: center;}
    .lower1 h3{box-sizing: border-box;line-height: .6;font-weight: bold;margin-top: 15px;color: #FF2264}
    .lower1 p{font-size: 16px;color: gray;margin-top: 20px;}
    .swas{width: 89px;height: 185px;display: block;margin: auto;}
    .swas img{width: 89px;height: 185px;display: block;margin: auto;animation: tilt 5s linear infinite;animation-direction: alternate}
    @keyframes tilt{
        0%{transform: scale(.7)}
        25%{transform: scale(.5)}
        50%{transform: scale(1)}
        75%{transform: scale(.5)}
        100%{transform: scale(.7)}
    }
    .jadi{text-align: center;padding: 12px;font-weight: bold;width: 356px;height:26px;margin: 0 auto;background: #A90018;color: white;
    border-radius: 23px 23px 90px 90px;font-family: 'BenSen', sans-serif;font-size: 25px}
    .dance{max-width:356px;max-height: 402px;display: block;margin: auto;}
    .dance img{max-width:356px;max-height: 402px;display: block;margin: auto;background: rgba(255, 255, 255, 0.2);border-radius: 60px;
    margin-top: 10px;}
    h2{text-align: center;margin-bottom: 15px;color: #A90018;font-size: 26px}
    .snc{width: 360px;height: 180px;background: url(bord1.gif);background-repeat: no-repeat;display: block;margin: 0 auto;margin-bottom: 15px;}
    .out{width: 340px;height: 160px;background: url(bkg.jpg);display: block;margin: 0 auto;padding: 5px;overflow: hidden;}
    .subh{text-align: center;font-size: 24px;font-weight: bold;margin-bottom: 10px;height: 28px;background: url(suv.gif);background-size: cover;color: white;
    font-family: 'BenSen', sans-serif;}
    .nai{text-align: center;color: #A90018;font-family: 'BenSen', sans-serif;font-size: 20px;}
    .container{ 
left: 0px;
right: 0px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.countdown{    
    display: flex;
        margin-bottom: 30px;    
}

.countdown div{
    position: relative;
width: 80px;
height: 80px;
line-height: 80px;
text-align: center;
background: url(time.gif);
border-radius: 50px;
color: white;
margin: 0 5px;
font-size: 2em;
font-weight: 250;   
}

.countdown div:before{
    content: '';
position: absolute;
bottom: -26px;
left: 0;
width: 88px;
height: 25px;border-right-width: 5px;border-right-style: solid;border-right-color: red;
background: #D9FE92;
color: black;
font-weight: bold;
font-size: 0.50em;
line-height: 24px;
font-weight: 300;
}

.countdown #day:before{
    content: 'দিন';
}

.countdown #hour:before{
    content: 'ঘন্টা';
}

.countdown #minute:before{
    content: 'মিনিট';
}

.countdown #second:before{
    content: 'সেকেন্ড';
}
    .prit{text-align: center;color:white;font-size: 24px;font-weight: bold;margin-bottom: 5px;margin-top: 7px;font-family: 'BenSen', sans-serif;
    width: 170px;height:28px;margin: 0 auto;background: #A90018;border-radius: 23px; }
    .eg{text-align: center;color:#A90018;font-family: 'BenSen', sans-serif;font-size: 20px;}
    .stha{text-align: center;color:white;font-size: 24px;font-weight: bold;margin-bottom: 5px;font-family: 'BenSen', sans-serif;
    width: 120px;height:28px;margin: 0 auto;background: #A90018;border-radius: 23px;}
    .cu{text-align: center;color:#A90018;font-family: 'BenSen', sans-serif;font-size: 20px;margin-bottom: 20px;}
    .sri{text-align: center;font-family: 'BenSen', sans-serif;font-size: 24px;font-weight: bold;padding: 20px;color: #A90018;
    background: rgba(0,0,0,0.1);border-radius: 35px}    
    #fontcss{margin-left: 10px;margin-bottom: 20px;color: #A90018;font-family: 'BenSen', sans-serif;font-size: 22px;}
    .bih{font-family: 'BenSen', sans-serif;text-align: justify;text-indent: 40px;margin-left: 10px;margin-right: 10px;
    margin-bottom: 40px;color: #A90018;font-size: 22px;}
    .quni{display: flex;max-width: 100%;justify-content: space-between}
    .qui {max-width: 70%;}
    .nibe{text-align: right;margin-right: 10px;color: #A90018;font-family: 'BenSen', sans-serif;font-size: 22px;max-width: 30%}
    footer{
    width: 100%;
    height: 100px;
    background: grey;
    left: 0;
      right: 0;
      text-align: center;
        }

  footer p{
      text-align: center;
      padding: 10px;
      color: white;
        }  
button{width: 100px;height: 30px;background: green;border-radius: 46px;border: none;font-weight: bold;font-size: 15px;letter-spacing: 1.5px
;color: white}